<div class="reveal">
  <div class="slides">

    <section data-markdown>
      <textarea data-template>
        # HTML
      </textarea>
    </section>


    <section>
      <section data-markdown>
        <textarea data-template>
          ## 요소(Element) = 태그(Tag)
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<명령></명령>`
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<태그></태그>`

          기본 형태

          ```html
          <div></div>
          <span></span>
          <p></p>
          ```
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<태그></태그>`

          기본 태그는 `열린 태그`와 '닫힌 태그'로 구분.

          `<태그>`: 열린(시작, Start) 태그
          `</태그>`: 닫힌(종료, End) 태그
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<태그>내용</태그>`

         열린 태그와 닫힌 태그 사이에는 '내용(Contents)'를 추가할 수 있다.

         ```html
         <h1>HTML 배우기</h1>
         ```
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<태그><태그></태그></태그>`

         태그의 내용으로 새로운 태그를 넣을 수 있다.
         기존 태그를 '부모 요소(태그)'라고 부르며, 넣어진 태그를 '자식 요소(태그)'라고 한다.

         ```html
         <div><p>Hello</p></div>
         <div>
           <a href="http://hello.com">HELLO.com</a>
         </div>
         ```
        </textarea>
      </section>

      <section data-markdown>
        <textarea data-template>
          ## `<태그 속성="값"></태그>`

          태그의 역할 확대

          ```html
          <a href="http://www.naver.com">NAVER</a>
          <script src="./js/main.js"></script>
          <img src="image.jpg" alt="This is image">
          ```
        </textarea>
      </section>
    </section>


    <section data-markdown>
      <textarea data-template>

      </textarea>
    </section>


  </div>
</div>
