.reveal .property {
    position: relative;
    top: 4px;
    color: #fff;
    font-size: .6em;
    width: 2.6em;
    height: 1.7em;
    line-height: 1.7em;
    border-radius: .3em;
    display: inline-block;
    margin-left: 10px;
}
.reveal .property::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.reveal .property.shorthand {
    background: #4A8BF5;
}
.reveal .property.individual {
    background: #444;
}
.reveal .property.shorthand::after {
    content: "단축";
}
.reveal .property.individual::after {
    content: "개별";
}